In [1]:
import pandas as pd
import os

In [2]:
#path defined to load the file
data_file = "Resources/budget_data.csv"

In [3]:
# import budget_data.csv into a dataframe
#file = "Resources/budget_data.csv"
#budget_df = pd.read_csv(file)
budget_df = pd.read_csv(data_file)

In [4]:
budget_df

      Date  Revenue
0   Oct-12  1154293
1   Nov-12   885773
2   Dec-12  -448704
3   Jan-13   563679
4   Feb-13   555394
5   Mar-13   631974
6   Apr-13   957395
7   May-13  1104047
8   Jun-13   693464
9   Jul-13   454932
10  Aug-13   727272
11  Sep-13   125016
12  Oct-13   339251
13  Nov-13    78523
14  Dec-13   977084
15  Jan-14  1158718
16  Feb-14   332681
17  Mar-14  -341227
18  Apr-14   173826
19  May-14   742611
20  Jun-14  1189806
21  Jul-14   607363
22  Aug-14 -1172384
23  Sep-14   587993
24  Oct-14   295198
25  Nov-14  -300390
26  Dec-14   468995
27  Jan-15   698452
28  Feb-15   967828
29  Mar-15  -454873
30  Apr-15   375723
31  May-15  1140526
32  Jun-15    83836
33  Jul-15   413189
34  Aug-15   551363
35  Sep-15  1195111
36  Oct-15   657081
37  Nov-15    66659
38  Dec-15   803301
39  Jan-16  -953301
40  Feb-16   883934

In [5]:
Number_of_months =budget_df["Date"].count()
Number_of_months

41

In [6]:
sum_Revenue= budget_df["Revenue"].sum()
sum_Revenue

18971412

In [7]:
monthly_changes_list = []
initial = 0
final = 0
for index, row in budget_df.iterrows():
   if index == 0:
       initial = row["Revenue"]
   else:
       final = row["Revenue"]
       monthly_change = (final - initial)
       monthly_changes_list.append(monthly_change)
       initial = final
       
change_sum = 0
for change in monthly_changes_list:
   change_sum += change
   
average_change = change_sum/len(monthly_changes_list)
average_change

-6758.975

In [8]:
print(monthly_changes_list)

[-268520, -1334477, 1012383, -8285, 76580, 325421, 146652, -410583, -238532, 272340, -602256, 214235, -260728, 898561, 181634, -826037, -673908, 515053, 568785, 447195, -582443, -1779747, 1760377, -292795, -595588, 769385, 229457, 269376, -1422701, 830596, 764803, -1056690, 329353, 138174, 643748, -538030, -590422, 736642, -1756602, 1837235]

In [9]:
Max_Revenue= budget_df["Revenue"].max()
Max_Revenue

1195111

In [10]:
Min_Revenue= budget_df["Revenue"].min()
Min_Revenue

-1172384

In [11]:

for index, row in budget_df.iterrows():
   if row["Revenue"] == Max_Revenue:
       Max_Revenue_month = row["Date"]
print(f"Max increase in Profits: {Max_Revenue_month} (${Max_Revenue})")

Max increase in Profits: Sep-15 ($1195111)

In [12]:
for index, row in budget_df.iterrows():
   if row["Revenue"] == Min_Revenue:
       Min_Revenue_month = row["Date"]
print(f"Min increase in Profits: {Min_Revenue_month} (${Min_Revenue})")

Min increase in Profits: Aug-14 ($-1172384)

In [13]:
print("Financial Analysis")
print("------------")
print(f"Total Months: {Number_of_months}")
print(f"Total: ${sum_Revenue}")
print(f"Average Change: ${average_change}")
print(f"Greatest Increase in Profits: {Max_Revenue_month} (${Max_Revenue})")
print(f"Greatest Decrease in Profits: {Min_Revenue_month} (${Min_Revenue})")

Financial Analysis
------------
Total Months: 41
Total: $18971412
Average Change: $-6758.975
Greatest Increase in Profits: Sep-15 ($1195111)
Greatest Decrease in Profits: Aug-14 ($-1172384)

In [24]:
# display results in .txt file
output_file = os.path.join("Resources", "PyBank_Results.txt")
with open(output_file, "w") as datafile:
    datafile.write("PyBank_Results\n")
    datafile.write(f"Total Months: {Number_of_months}\n")
    datafile.write(f"Total: ${sum_Revenue}\n")
    datafile.write(f"Average Change: ${average_change}\n")
    datafile.write(f"Greatest Increase in Profits: {Max_Revenue_month} (${Max_Revenue})\n")
    datafile.write(f"Greatest Decrease in Profits: {Min_Revenue_month} (${Min_Revenue})\n")
   

   
   

# print out contents of .txt file in terminal
with open(output_file, "r") as f:
   results = f.read()
   print(results)

PyBank_Results
Total Months: 41
Total: $18971412
Average Change: $-6758.975
Greatest Increase in Profits: Sep-15 ($1195111)
Greatest Decrease in Profits: Aug-14 ($-1172384)